.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  max-width: 500px;
  padding: 10px;

  color: var(--text-color);
}

@media (min-width: 900px) {
  .wrapper {
    overflow-y: auto;
    max-height: 800px;
  }
}
