*,
*::before,
*::after {
  box-sizing: border-box;

  --bg: #1a1a1a;
  --bg-secondary: #242424;
  --text-color: rgb(247, 247, 247);
}

.section {
  max-width: 500px;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  border: 1px solid #555353;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  padding: 30px;
  width: 100%;

  gap: 10px;
}

h1,
h2,
h3 {
  margin: 0;
}


