
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}

label{
    font-weight: bold;
}

input{
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}